@font-face {
  font-family: 'Anton_Regular';
  src:url('../polices/Anton/Anton-Regular.ttf') format('ttf');
}
@font-face {
  font-family:"Lato_Regular";
  src:url('../polices/Lato/Lato-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Lato Black';
  src: url("../polices/Lato/Lato-Black.ttf") format('ttf');
}

.block{
  width:100%;
}

.head {
  background-image: url('../Photos/20161202_101925.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height:30vh;
  header{
    background-color: white;
  }
}

.container_header{
  display:flex;
  justify-content: space-between;
  .container_logo {
    display:flex;
    .contenu_logo1{
      order:2;
      width:30px;
    }
    .contenu_logo2{
      order:1;
    }
    .contenu_logo3{
      order:3;
    }
  }

  #burger{
    position:absolute;
    top:0;
    right:0;
    color:white;
    background-color: green;
    border:none;
    width:30px;
    height:30px;
    padding:0;
  }
  #menu{
    position:relative;
    top:30px;
  }

}

.fisrtword_logo{
  font-family: "Lato_Regular";
}

.container_points{
}